
@{
    ViewBag.Title = "TermandConditions";
    Layout = "~/Views/Layouts/Home.cshtml";
}
<br />
<div class="container">
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet, metus eu interdum placerat, magna risus cursus augue, vel rutrum tortor augue in eros. Integer condimentum fringilla neque, non ultricies urna. Etiam malesuada enim vel faucibus aliquam. Nunc porta ipsum quam, malesuada gravida enim feugiat in. In finibus eleifend quam vitae vestibulum. Morbi bibendum sem a enim scelerisque efficitur. Suspendisse scelerisque, massa eget condimentum accumsan, libero ante congue lorem, ut semper felis metus at felis. Donec nec urna vel eros gravida tempus quis vitae lacus. Maecenas ultricies enim vel semper congue. Nulla dapibus semper efficitur. Donec quis venenatis elit.</p><br />

    <p> Cras id turpis nisi. Vivamus ullamcorper pellentesque tincidunt. Curabitur ultrices sit amet velit vitae feugiat. Morbi rhoncus quam nunc, quis condimentum dolor mattis vitae. Phasellus congue elementum libero, non efficitur turpis pretium eu. Donec eget leo placerat, finibus est ut, efficitur enim. Pellentesque feugiat mauris et ipsum consectetur, nec egestas libero porta. Curabitur condimentum nibh ut orci cursus vestibulum. Integer sed libero sagittis metus convallis lacinia nec a nisi. Suspendisse potenti. Phasellus hendrerit, erat eu ullamcorper efficitur, sem dolor placerat dolor, id tristique metus turpis ut leo. Mauris ornare laoreet augue non semper.</p><br />

    <p> Aliquam erat volutpat. Quisque mollis dolor diam, quis facilisis nulla maximus sit amet. In ut vehicula orci. Ut sem turpis, consequat a consequat eget, sagittis cursus magna. Maecenas nec egestas sapien, ac pulvinar enim. Nulla interdum, nisl ut pulvinar bibendum, eros tellus hendrerit quam, in mattis quam metus ac ante. Proin venenatis, enim quis euismod porttitor, neque massa varius est, a commodo ex lacus eget nulla. Sed dui massa, sagittis sit amet feugiat nec, convallis eu velit. Nulla facilisi. Nullam semper vel velit in semper. Suspendisse potenti.</p><br />

    <p> Vestibulum at tristique quam. Sed dignissim porta enim ac tempor. Integer non ex augue. Nam interdum elit dui, ac molestie libero lacinia eu. Mauris urna diam, blandit non pharetra non, scelerisque vel libero. Donec eget neque venenatis, vestibulum mi id, dignissim lorem. Nulla facilisi. Vivamus venenatis ligula at dignissim aliquet. Aliquam quis auctor ligula, a rhoncus sem. Vestibulum tristique lacinia ligula, eget dignissim mauris.</p><br />

    <p> Etiam finibus erat ac nunc tincidunt, sodales egestas nisl mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque odio enim, hendrerit vitae lacinia eget, pulvinar et urna. Nam viverra erat neque, malesuada imperdiet quam faucibus a. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus eros justo, blandit at tortor sed, scelerisque dignissim dolor. Pellentesque lacus enim, ullamcorper sed convallis ut, aliquet quis nunc. Suspendisse sapien lorem, lacinia nec felis vel, condimentum tempor nisl. Sed ipsum ligula, accumsan sed ligula vel, pretium pharetra quam. Sed scelerisque efficitur mauris, ac facilisis neque. Maecenas porttitor tellus eu risus aliquet elementum. Fusce suscipit lobortis justo eget vulputate. Donec mattis, leo semper varius commodo, diam ligula bibendum tortor, eget pellentesque orci eros non erat. Vivamus ex erat, imperdiet sit amet laoreet non, vestibulum id felis. Nullam ut tincidunt dolor, quis eleifend mi. Donec est nulla, tincidunt at odio non, porttitor molestie dui.</p>
</div>
<br />

